@model swop.Models.User

@{
    ViewBag.Title = "Add Funds";
}

    <section class="section-2">
        <h1 style="margin-left:1%;">Add Funds</h1>
        <form method="post">
            <div class="form-horizontal" , style="margin-left:2%; margin-top:1%">

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Balance) :
                    @Html.DisplayFor(model => model.Balance)
                </div>
                <div class="form-group">
                    <input type="number" id="FundsInput" name="quantity" min="0"> $
                </div>
                <div class="form-group">
                    <div>
                        <input type="button" value="Add Funds" class="btnGeneral btnGeneral:hover" id="AddFundsButton" onclick="AddFunds()" />
                    </div>
                </div>
            </div>
        </form>


        <script>
    function AddFunds() {
        var funds = $("#FundsInput").val();
        $.ajax({
            type: "GET",
            url: "/Users/AddFunds",
            data: {
                toAdd: funds
            },
            dataType: "json",
            success: function (data) {
                if (data)
                    window.location = ('@Url.Action("AddFundsPage", "Users", null)')
                else alert("Input a number between 0 to 10000");
            },
            error: function (xhr, status, error) {
                alert("Problem adding funds");
            }
        });
    }
        </script>
    </section>