@model swop.Models.User

@{
    ViewBag.Title = "EditUserPicturePage";
}
    <section class="section-2">
        <h1 style="margin-left:1%;">Edit profile picture</h1>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


        <input type="file" id="fileToUpload" class="form-control" /> <br />
        <button id="upload" name="upload" style="margin-left:1%" class="btnGeneral btnGeneral:hover">Upload Picture</button>

        <br />
        <button id="delete" name="delete" style="margin-top:1%; margin-left: 1% " class="btnGeneral btnGeneral:hover">Delete Picture</button>
        <!--add delete picture option with a button-->
        <script>
    $("#upload").click(function () {

        if (window.FormData == undefined)
            alert("Error: FormData is undefined");

        else {
            var fileUpload = $("#fileToUpload").get(0);
            var files = fileUpload.files;

            var fileData = new FormData();

            fileData.append(@Model.UserId, files[0]); //pass user id as the file's name

            $.ajax({
                url: '/Users/EditUserPicture',
                type: 'post',
                datatype: 'json',
                contentType: false,
                processData: false,
                async: false,
                data: fileData,
                success: function (response) {
                    alert(response);
                    window.location = ('@Url.Action("Details", "Users", new { id = Model.UserId })');
                }
            });
        }

    });

    $("#delete").click(function () {
            $.ajax({
                 type: "GET",
                 url: "/Users/DeleteUserPicture",
                 data: {
                    userId: @Model.UserId
                 },
                 dataType: "json",
                 success: function (data) {
                     if (data) {
                         alert("picture deleted successfully")
                         window.location = ('@Url.Action("Details", "Users", new { id = Model.UserId })')
                     }
                     else alert("an error has occurred");
                 },
                 error: function (xhr, status, error) {
                     alert("an error has occurred");
                  }
            });
    });


        </script>
    </section>