<!DOCTYPE html>

<head>
    @if ((bool)Session["Logged"] == false) {
        <meta http-equiv="refresh" content="0; url = http://localhost:54598/Home/Index" /> 
        }
       
</head>



@{
    ViewBag.Title = "Index";
}

<section class="section-1">
    <div class="row" , style="margin-left: 15px; margin-top: 20px;">
        <div class="col-md-4">
            <h2>Welcome to SWoP!</h2>
            <p>
                <text>SWoP is the new way to experience couch surfing while saving up on expenses with your own place!</text>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Our Vision</h2>
            <p>
                <text>as college students looking for a getaway once in a while, we were always on the lookout for deals on couch surfing. while looking for a resident for our apartment to save up on trip expenses. we founded SWoP to combine these two efforts into one simple website!</text>
            </p>
        </div>
    </div>
</section>